- name: 'set start and end'
  ansible.builtin.set_fact:
    start: >-
      {{
        [
          ('1' + ('0' * (num_digits - 1))) | int,
          id_range.start
        ] | max
      }}
    end: >-
      {{
        [
          ('9' * (num_digits)) | int,
          id_range.end
        ] | min
      }}

- name: 'even-length ids'
  when: start | string | length % 2 == 0
  block:

    - name: 'set start_truncated and end_truncated'
      ansible.builtin.set_fact:
        start_truncated: >-
          {{
            start // (10 ** (start | string | length // 2))
          }}
        end_truncated: >-
          {{
            end // (10 ** (end | string | length // 2))
          }}

    - name: 'append to id_subranges'
      when: start | string | length > 1
      ansible.builtin.set_fact:
        id_subranges: >-
          {{
            id_subranges +
            [
              {
                'start': start,
                'end': end,
                'start_truncated': start_truncated,
                'end_truncated': end_truncated
              }
            ]
          }}
